{% extends "home/home.html"%}
{% load static %}
{% block main_body %}
<link rel="stylesheet" href="{% static 'questions/style.css' %}">
<h1 class="q-title">{{ question.question_title }}</h1>
<div class="q-details"><b>Details:</b> <br>{{question.question_text}}</div>
<hr>
<div class="author">
  Asked by {{question.author.username}}
</div>
    <form action="" method="post" id = "questionForm" name ="q-form" onsubmit="return validate()">
        {% csrf_token %}  
        <textarea placeholder="Write an answer..." name="comment_text" id="txt-q" cols="100" rows="10" form="questionForm" ></textarea><br>
        <input type="submit" id="cmnt-submit-btn" name="comment">
      </form>
<div class="ans">
    <h2>Answers:</h2>
      
    {% if question.comments_set.all %}
        {% for comment in question.comments_set.all %}
          <h3>{{comment.cmnt_author.username}}</h3>
          {{comment.comment_text}}
          <div class="rpls">
            <!-- Reply section -->
              <button type="button" class="collapsible">Replies</button>
              <div class="content">
                  <p>      
                  <form action=""  name="reply-frm" onclick="return replyval()" method="post" id = "{{comment.id}}">
                      {% csrf_token %}  
                      <input type="hidden" name="cmnt_id" value={{comment.id}}>
                      <textarea placeholder="Reply" name="reply_text" class="txt-r" cols="80" rows="10" form={{comment.id}} ></textarea><br>
                      <input value="Add comment" type="submit" class="rply-submit-btn" name="reply" form={{comment.id}}>
                    </form>
                    {% if comment.replies_set.all %}
                      {% for reply in comment.replies_set.all %}
                      <div class="auth-name">
                          {{reply.author.username}}
                      </div>
                      <div class="rpls-txt">
                          {{reply.reply_text}}
                      </div> 
                       <hr>
                       {% endfor %}
                    {% else %}
                      <p style="text-align: center;"> No replies </p>
                    {% endif %}
                  </p>
              </div>
              <!-- end of reply section -->
          </div>
          <hr>
          {% endfor %}
     {% else %} 
      <div class="no-ans">No Answers avilable!</div>
     {% endif %}
  </div>
  <script>
   var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
  </script>
<script>
  function validate()
  {
    var x = document.forms["q-form"]["comment_text"].value
    if(x.trim()=="")
    {
      return false
    }
  }
  function replyval()
  {
    var x = document.forms["reply-frm"]["reply_text"].value
    if(x.trim()=="")
    {
      return false
    }
  }
</script>
{% endblock %}
